footer {
  background: $header-footer-color;
  padding-top: 25px;
  padding-bottom: 30px;
  color: white;

  .info {
    font-size: 26px;
  }

  p {
    margin: 0;
  }
  .logo-box {
    padding-top: 24px;
  }
  .info-box {
    margin-bottom: 55px;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 18px;
  }
}
